* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* main  */
.app {
  height: 100vh;
  display: grid;
  background-color: black;
  grid-template-rows: 100px auto;
}

.app__icons {
  background-color:#212540;
  grid-area: 1 / 1 / 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__clock {
  background-color:#2A2F4F;
  grid-area: 2 / 1 / 2 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  font-size: 2rem;
  color: #fff;
  margin: 3%;
}

.clock__time{
  font-size: 7rem;
}
